.row.hero-title.full-width
  .large-12.columns
    %h1.text-center Lessons
.row
  .large-12.columns
    - @lessons.each_slice(4) do |row|
      .row
        - row.each do |lesson|
          .large-3.columns
            .card-wrapper
              .card
                %h4
                  = link_to lesson.title, user_lesson_path(lesson.user, lesson)
                %h6.subheader
                  #{lesson.user}
                  %small
                    Updated
                    = time_ago_in_words(lesson.updated_at)
                    ago
                %hr
                %p= truncate lesson.description, length: 200, separator: '', omission: '…'
        - (row.count % 4).times do
          .large-3.columns
