.row
  .eight.columns
    %table
      %thead
        %tr
          %th Lessons
      %tbody
      - @lessons.each do |lesson|
        %tr
          %td= link_to lesson.name.titleize,
            user_lesson_path(lesson.user, lesson)
