- def arrow; image_tag 'arrow.jpg', size: '80x41'; end

#welcome
  .row
    .large-6.columns
      %header Genie
      %h2.subheader What is Genie?

      %dl
        %dt Create and collaborate on lessons with GitHub.
        %dt Learn by participating in autograded lessons.
        %dt Browse and curate lessons from all over the world.

      = link_to 'Sign in with GitHub', user_omniauth_authorize_path(:github), class: 'button'

    .large-6.columns#venn
      =image_tag 'venn.png'
