= render partial: 'sent_requests', locals: { sent_requests: @sent_requests }
= link_to export_access_requests_path, class: 'small button' do
  %i.icon-download-alt
  Export

= render partial: 'received_requests', locals: { received_requests: @received_requests }

- content_for :javascript do
  :javascript
    $(function (){

      var form = $('form#send_request');
      var errors_id = 'access_request_errors';
      var button = form.find('input[type="submit"]');

      var loading =  function() {
        button.val('Sending...');
        button.addClass('secondary');
      };

      var complete = function() {
        button.val('Send');
        button.removeClass('secondary');
      };

      var success = function() { location.reload(); }

      // construct table of error messages
      var error = function(evt, xhr, status, error) {
        var errors = $.parseJSON(xhr.responseText);
        $('#' + errors_id).remove();
        var alert = $('<div>').attr('id', errors_id);
        var table = $('<table>');
        $.each(errors, function(login, error) {
          var row = $('<tr>');
          row.append($('<td>').html(login));
          var full_error = $.map(error, function(v) { return v; }).join(' ');
          row.append($('<td>').html(full_error));
          table.append(row);
        });
        form.after(alert.append(table));
      };

      form
        .bind('ajax:beforeSend', loading)
        .bind('ajax:complete', complete)
        .bind('ajax:success',  success)
        .bind('ajax:error', error);

      var table = $('table#received_requests');
      table.bind('ajax:beforeSend', function(e) {
        if ($(e.target).hasClass('disabled')) return false;
        $(e.target).removeClass('success').addClass('secondary');
      }).bind('ajax:complete', function(e) {
        $(e.target).removeClass('secondary').addClass('success');
      }).bind('ajax:success', function() {
        location.reload();
      });

    });
