.row
  .eight.columns
    %table
      %tbody
        - @repos.each do |repo|
          %tr
            %td= repo.full_name
            %td
              - if @published.include? repo.clone_url
                %a.button.small.disabled Published
              - else
                %form{action: lessons_path, method: :post, 'data-remote' => true}
                  %input{type: 'hidden', name: 'lesson[url]', value: repo.clone_url}
                  %input{type: 'hidden', name: 'lesson[name]', value: repo.name}
                  %input.button.small{type: 'submit', value: 'Publish', 'data-disable-with' => 'Publishing'}
