.row
  .six.columns
    = simple_form_for @lesson do |f|
      %fieldset
        %legend New Lesson

        = f.input :url, placeholder: 'git@github.com:jimjh/x.git'
        = f.input :name, placeholder: 'Floating Point'

        %input.button.small{type: 'submit', value: 'Create', name: 'commit'}

