%section{role: 'lesson'}
  = @contents.html_safe

#answers{data: { preload: @answers.sort_by { |a| a.position }.to_json } }

- content_for :javascript do
  :javascript
    $(function() {
        genie.init_lesson({
          answers: $('#answers').data('preload'),
          forms:   $('form.problem')
        });
    });
