= render partial: 'header', locals: { lesson: @lesson }
%section.row.full-width{role: 'lesson'}
  .large-12.columns
    = @contents.html_safe

#answers{data: { preload: @answers.sort_by { |a| a.position }.to_json } }

- content_for :javascript do
  :javascript
    $(function() {
        genie.init_lesson({
          answers:  $('#answers').data('preload'),
          problems: $('form.problem'),
          navigation: {
            bar:    '.lesson-nav',
            anchor: 'section[role="lesson"]'
          },
          viewer: {
            window: '.lesson-problems',
            paginator: '.jqpagination'
          }
        });
    });
