/* Styling within lesson */
section[role='lesson'] {

  max-width: 90%;

  .lesson-problems {
    @include radius(2 * $global-radius);
    &.sticky { @media #{$small} { position: fixed; top: 56px; } }
    fieldset {
      border: none;
      legend {
        background: none;
        font-size: $h3-font-size;
        text-transform: uppercase;
      }
    }
  }

  .block-image { text-align: center; }
  h2 { border-bottom: 1px solid #ccc; }
  #{headings(all)} { text-transform: uppercase; }

}

[data-sticky-nav] {
  max-width: 100%;
  top: -56px;
  left: 0;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 0;
  transition: top 0.15s;
  background-color: rgba(0, 0, 0, 0.8);
}
