/**
 * Terminal
 */

.tty {

  border: #fafafa solid 1px;
  background: #272829;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 20px;

  .bar {
    padding: 3px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    color: orange;
  }

  .tab   { display: none; }
  .title { font-size: emCalc(11px); }

}

.terminal {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: emCalc(11px);
}
