@import "settings";
@import "foundation";

.highlight {
  @import "pygment";
  @import "github";
}

@import "terminal";
@import "utils";
@import "mathjax";
@import "forms";
@import "nav_bar";
@import "jqpagination";

@import "welcome";

.card-wrapper {
  padding: 4px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background: lighten($primary-color, 45%);
}

.card {
  background: $body-bg;
  border: 1px solid $hr-border-color;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 343px;
  padding: 10px;
  font-size: emCalc(13px);
}

/* Styling within lesson */
section[role='lesson'] {

  .lesson-nav {
    max-width: 100%;
    top: -56px;
    left: 0;
    position: fixed;
    padding-top: 15px;
    border-left: 2px solid $hr-border-color;
    transition: top 0.15s;
    margin-bottom: 0;
  }

  .lesson-problems {
    transition: top 0.15s;
    &.sticky {
      @media #{$small} {
        position: fixed;
        top: 56px;
      }
    }
    fieldset legend {
      background: none;
    }
  }

  .block-image {
    text-align: center;
  }

  ul {
    margin-left: 17px;
  }

  #{nest(headings(), 'a.anchor')} {
    position: absolute;
    padding-left: 60px;
    margin-left: -60px;
    display: block;
  }

  #{nest(headings(), 'a.anchor i')} {
    display: none;
    width: 16px;
    font-size: 16px;
  }

  #{nest(append-selector(headings(), ':hover'), 'a.anchor i')} {
    display: inline-block;
    margin-left: -1.5em;
  }

}
