%script{type: 'text/x-mathjax-config'}
  :plain
    MathJax.Hub.Config({
      'HTML-CSS': {
        preferredFont: 'TeX',
        linebreaks: { automatic: true },
        EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50)
      },
      tex2jax: {
        inlineMath: [ ['$', '$'], ['\\\\(', '\\\\)'] ],
        displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
        processEscapes: true,
        ignoreClass: 'tex2jax_ignore|dno'
      },
      TeX: {
        noUndefined: { attributes: { mathcolor: 'red', mathbackground: '#FFEEEE', mathsize: '90%' } }
      },
      messageStyle: 'none'
    });
